span {
    font-size: 16px;
    color: darkblue;
    padding: 5px;
    font-weight: bold;
}

footer {
    flex-shrink: 0;
    color: darkblue;    
    font-weight: bold;
    width: 100%;
    bottom: 0;
    
    li{
        padding: 15px;
    }
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9ce2d1;
 }

Ul1{
    color: darkblue;
    padding: 5px;
    font-weight: bold;
    display: list-item;
}
 li{
    float: left;
   
 }

 li a {
    display: block;
    color: darkblue;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    
 }

h1 {
        background-color:rgb(187, 236, 220);
        text-align:center;border: 2px solid powderblue;
        color: darkblue;
    }
h3{
    background-color:rgb(208, 243, 231);
}    

h4 {
    background-color:rgb(208, 247, 234); 
    text-align: center;
}


input {
    padding: .2rem .5rem;
  }
  
  .helper-text {
    display: none;
    font-size: .8rem;
    color: rgb(247, 243, 243);
  }
  
  .orientacao {
    margin-top: 1.5rem;
    font-size: .7rem;
  }
  
  button {
    width: 100px;
    height: 40px;
    margin-top: 1.5rem;
    font-size: 1rem;
    align-self: center;
  }
  


.input-label, .input-form{
        display: block;
        margin-bottom: 5px;
        
    }
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;

    padding-top: 20px;
    padding-right: 180px;
    padding-bottom: 60px;
    padding-left: 180px;

    margin-top: 80px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 40px;

    color:white;
    background-color:darkblue;
    border: 20px solid black;
    
}

.required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color:red;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
  }
  
  input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }

  textarea.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  textarea.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }
  
  
  .visible {
    display: block;
  }